<div id="cookies-eu-banner" class="w-100 bg-usccess" style="display: none;">
  <div class="container text-center py-2">
    Wir nutzen Cookies, um den Service unserer Webseite optimal zu gestalten. Durch Benutzung unserer Website akzeptierst du die Verwendung von Cookies.
    <%= link_to 'Weitere Infos', data_protection_path, class: 'btn btn-sm btn-yellow', id: 'cookies-eu-more' %>
    <button id="cookies-eu-accept" class="btn btn-sm btn-yellow">Akzeptieren</button>
  </div>
</div>
<header class="header w-100">
  <div class="main-menu-toggler-container main-menu-container-open">
    <%= link_to image_tag(asset_pack_path(controller_name=="teacher_apps" ? 'images/icon-menu-open-dark.svg' : 'images/icon-menu-open.svg')), '#', class: 'main-menu-toggler main-menu-open' %>
    <div class="mobile-logo-img pl-4 float-left d-lg-none d-md-none d-sm-block ">
      <%= link_to image_tag(asset_pack_path('images/wahlgenial-logo.svg')), :root %>
    </div>
  </div>
  <div class="main-menu background-main-menu no-gutters">
    <div class="main-menu-wrapper h-100 d-flex justify-content-between flex-column">
      <div class="top-bar d-flex flex-row p-2">
        <div class="logo-container align-self-start">
          <%= link_to image_tag(asset_pack_path('images/wahlgenial-logo.svg')), :root %>
        </div>
        <div class="d-none d-lg-block d-md-block col-1 text-left p-4 mt-1 ml-auto mr-5 ">
          <h6 class="font-weight-bold">MENÜ</h6>
        </div>
      </div>
      <div class="main-menu-list-container pt-3">
        <div class="main-menu-list col-lg-7 col-md-10 col-sm-12 mx-auto">
          <ul>
            <li>
              <li><%= link_to 'HOME', root_path %>
              <ul class="sub-menu">
                <li data-menuanchor="why-section">
                  <%= link_to 'WARUM wählen?', root_path(anchor: 'why-section'), class: 'navigation-link' %>
                </li>
                <li data-menuanchor="who-section">
                  <%= link_to 'WEN soll ich wählen?', root_path(anchor: 'who-section'), class: 'navigation-link' %>
                </li>
                <li data-menuanchor="what-section">
                  <%= link_to 'WAS passiert aktuell <br/> in der Politik?'.html_safe, root_path(anchor: 'what-section'), class: 'navigation-link' %>
                </li>
                <li data-menuanchor="how-section">
                  <%= link_to 'WIE geht wählen?', root_path(anchor: 'how-section'), class: 'navigation-link' %>
                </li>
              </ul>
            </li>
            <li><%= link_to 'WAHL-APPS', apps_path %></li>
            <li><%= link_to 'WAHL-APPS FÜR LEHRER:INNEN', teacher_apps_path %></li>
            <li><%= link_to 'WÖRTERBUCH', glossary_path %></li>
            <li><%= link_to 'WAHLTERMINE', calendar_path %></li>
          </ul>
        </div>
      </div>
      <div class="main-menu-footer p-3">
        <div class="d-flex justify-content-end">
          <%= link_to 'ÜBER UNS', about_path, class: 'footer-link px-3' %>
          <%= link_to 'IMPRESSUM', imprint_path, class: 'footer-link px-3' %>
          <%= link_to 'DATENSCHUTZERKLÄRUNG', data_protection_path, class: 'footer-link px-3' %>
        </div>
      </div>
      <div class="main-menu-toggler-container">
        <%= link_to image_tag(asset_pack_path('images/icon-menu-close.svg')), '#', class: 'main-menu-toggler main-menu-close' %>
      </div>
    </div>
  </div>
</header>
