<header class="header w-100">
  <div class="main-menu-toggler-container main-menu-container-open">
    <%= link_to image_tag(asset_pack_path('images/icon-menu-open.svg')), '#', class: 'main-menu-toggler main-menu-open' %>
    <div class="d-lg-none d-md-none mobile-logo-img d-sm-none d-xs-block float-left">
      <%= link_to image_tag(asset_pack_path('images/wahl-daten-helfer-logo.svg')), :root %>
    </div>
  </div>
  <div class="main-menu no-gutters">
    <div class="d-flex justify-content-between flex-column h-100">
      <div class="top-bar d-flex flex-row p-2">
        <div class="logo-container align-self-start">
          <%= link_to image_tag(asset_pack_path('images/wahl-daten-helfer-logo.svg', class: 'mobile-logo')), :root %>
        </div>
        <div class="d-none d-lg-block d-md-block col-1 text-left p-4 mt-1 ml-auto mr-5 ">
          <h6 class="font-weight-bold">MENÜ</h6>
        </div>
      </div>
      <div class="main-menu-list-container pt-3">
        <div class="main-menu-list col-lg-7 col-md-10 col-sm-12 mx-auto">
          <ul class="">
            <li data-menuanchor="why-section">
              <%= link_to 'WARUM wählen?', root_path(anchor: 'why-section'), class: 'navigation-link' %>
            </li>
            <li data-menuanchor="who-section">
              <%= link_to 'WEN soll ich wählen?', root_path(anchor: 'who-section'), class: 'navigation-link' %>
            </li>
            <li data-menuanchor="how-section">
              <%= link_to 'WIE geht wählen?', root_path(anchor: 'how-section'), class: 'navigation-link' %>
            </li>
            <li data-menuanchor="what-section">
              <%= link_to 'WAS passiert aktuell <br/> in der Politik?'.html_safe, root_path(anchor: 'what-section'), class: 'navigation-link' %>
            </li>
            <li>&nbsp;</li>
            <li><%= link_to 'WAHL-APPS', apps_path %></li>
            <li><%= link_to 'GLOSSAR', glossary_path %></li>
          </ul>
        </div>
      </div>
      <div class="main-menu-footer p-3">
        <div class="d-flex justify-content-end">
          <%= link_to 'IMPRESSUM', imprint_path, class: 'footer-link' %>

        </div>
      </div>
      <div class="main-menu-toggler-container">
        <%= link_to image_tag(asset_pack_path('images/icon-menu-close.svg')), '#', class: 'main-menu-toggler main-menu-close' %>
      </div>
    </div>
  </div>
</header>
