<div class="col-md-4 col-sm-6 text-center no-gutters">
  <%  if political_agreement.external_link.present? %>
    <a href="<%= political_agreement.external_link %>" target="_blank">
  <% else %>
    <a>
  <% end %>
    <div class="card mx-auto mt-3">
      <div class="card-body">
        <div class="card-title pt-2 text-center">
          <%= political_agreement.title %>
        </div>
        <div class="card-image">
          <% unless political_agreement.image_url(:thumb).nil? %>
            <img src="<%= political_agreement.image_url(:thumb) %>" />
          <% end %>
        </div>
      </div>
      <div class="card-footer text-center py-2">
        <div class="row container no-gutters">
          <div class="col-3 pt-1 result-counter">
            <%= political_agreement.votes_yes %>
            <%= image_tag asset_pack_path('images/icon-with.svg') %>
            <div class="description text-left">dafür</div>
          </div>
          <div class="col-6">
            <div class="final-result d-flex mx-auto">
              <% if political_agreement.votes_yes > political_agreement.votes_no %>
                <%= image_tag asset_pack_path('images/icon-with.svg'), class: 'm-auto' %>
              <% else %>
                <%= image_tag asset_pack_path('images/icon-against.svg'), class: 'm-auto' %>
              <% end %>
            </div>
          </div>
          <div class="col-3 pt-1 result-counter">
            <%= political_agreement.votes_no %>
            <%= image_tag asset_pack_path('images/icon-against.svg'), class: 'against-icon' %>
            <div class="description">dagegen</div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
