<div id="fullpage">
 <div id='whyBox' class="section">
    <%= render 'why_box' %>
 </div>
  <div id='whoBox' class="section">
    <%= render 'who_box' %>
  </div>
 <div id='howBox' class="section">
    <%= render 'how_box' %>
 </div>
 <div id='whatBox' class="section active">
   <%= render 'what_box' %>
 </div>
<%=render 'shared/footer' %>
</div>
