<div id="fullpage" class="container-fluid p-0 m-0">
    <div id="ekoBox" class="section eko-section active" data-anchor="eko-section">
    <%= render 'eko_section' %>
  </div>
  <div id="whoBox" class="section who-section" data-anchor="who-section">
    <%= render 'who_section' %>
  </div>
    <div id="whyBox" class="section why-section" data-anchor="why-section">
    <%= render 'why_section' %>
  </div>
  <div id="whatBox" class="section what-section" data-anchor="what-section">
   <%= render 'what_section' %>
  </div>
    <div id="howBox" class="section how-section" data-anchor="how-section">
    <%= render 'how_section' %>
  </div>
</div>
<!-- modals should be outside of fullpage container -->
<div class="modal fade" id="elections-programs-info-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-4 mx-1">
        <h6>Wie funktionierts?</h6>
        <p class="pb-4">
          Hier kannst du dich über die Meinungen der Parteien zu bestimmten Themen informieren.
          Wähle einfach ein Thema (lila Button) aus und eine zugehörige Frage aus.
          Darunter kannst du dir direkt die Meinungen der Parteien (gelbe Buttons)
          zu dieser Frage durchlesen und ob sie dieser
          positiv <strong> ✓ </strong> , negativ <strong>x</strong> oder neutral <strong> — </strong> gegenüberstehen.
        </p>
        <h6>Woher kommen die Infos/Daten?</h6>
        <div class="pb-4">
          Die Inhalte stammen aus den Wahlprogrammen der Parteien und den folgenden Webangeboten:
          <ul class="list-unstyled">
            <li><a href="http://informiert-waehlen.de/assets/flyer.pdf" target="_blank">http://informiert-waehlen.de/assets/flyer.pdf</a> </li>
            <li><a href="https://digital17.d-64.org/" target="_blank">https://digital17.d-64.org/</a></li>
          </ul>
        </div>
        <h6>Wahlen im Unterricht</h6>
        <p class="pb-4">
            <a href="http://www.wahldatenhelfer.de/lehrer-wahl-apps">Hier</a> sind hilfreiche Apps für Lehrer:innen
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="political-agreements-info-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mb-5 mx-3">
        Hier findest du die aktuellen Abstimmungen aus dem Bundestag mit den jeweiligen Ergebnissen.
        Wenn du mehr über eine Abstimmung erfahren willst,
        klicke einfach auf die jeweilige Box,
        um dich bei dem Webangebot
        <a href="https://www.abgeordnetenwatch.de/bundestag/abstimmungen" target="_blank">
          https://www.abgeordnetenwatch.de/bundestag/abstimmungen
        </a>
        zu informieren.
      </div>
    </div>
  </div>
</div>
