<div id="fullpage">
 <div id="whyBox" class="section active">
    <%= render 'why_section' %>
 </div>
  <div id="whoBox" class="section">
    <%= render 'who_section' %>
  </div>
 <div id="howBox" class="section">
    <%= render 'how_section' %>
 </div>
 <div id="whatBox" class="section">
   <%= render 'what_section' %>
 </div>
<%=render 'shared/footer' %>
</div>
