<div class="background-teacher-apps">

 <%= react_component(
      'HeaderLogo',
      isOrange: true) %>
      
</div>
  <div class="teacher-detail"> 
    <div class="teacher-backlink">
      <%= link_to "zurück zur Übersicht" , teacher_apps_path %>
    </div>

    <div class="teacher-detail-content-wrapper">
      <div class="teacher-detail-content">
        <div class="detail-title"><%= @apps.title %></div>
        <div class="detail-subtitle"><%= @apps.teaser_text %></div>

        <hr>

        <div class="teacher-detail-list">
          <div>STUFE:    <%= @apps.grade_list.compact.join(', ')%></div>
          <div>KATEGORIE: <%= @apps.tag_list %></div>
          <div>GERÄTE:    <%= @apps.tool_list.compact.join(', ')%></div>
        </div>

        <hr>
        
        <div class="detail-description-wrapper">
          <div class="detail-description-title"> ÜBER DIE APP </div>
          <div class="detail-description"><%= @apps.description %> </div>
        </div>

        <div class="teacher-link">
          <%= link_to "Zum Angebot" , @apps.external_link %>
        </div>
      </div>

      <div class="teacher-detail-image"> 
        <%= image_tag(asset_pack_path("images/#{@apps.picture}"), class: "teacher-detail-image") %>
      </div>
    </div>
  </div>
</div>