<div>
  <href>Zurück zur Übersicht</href>
  </div>

<h1><%= @apps.title %></h1>
<h4><%= @apps.teaser_text %></h4>

<div>
  <li>Stufe: <%= @apps.grade_list.compact.join(', ')%></li>
  <li>Kategorie: <%= @apps.tag_list %></li>
  <li>Geräte: <%= @apps.tool_list.compact.join(', ')%></li>
</div

<div>
  Über die APP
  <%= @apps.description %>
</div>
<div>
<href>Zum Angebot</href>
</div>
