<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <%= favicon_link_tag(asset_pack_path('images/favicon.png')) %>
    <%= stylesheet_pack_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <title><%= content_for?(:page_title) ? yield(:page_title) : 'Wahldatenhelfer' %></title>
  </head>
  <body>
    <div class="content-wrapper gradient-content">
      <%= render 'shared/header' %>
      <%= yield %>
    </div>
  </body>
</html>
