<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <%= favicon_link_tag(asset_pack_path('images/favicon.png')) %>
    <%= stylesheet_pack_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <title><%= content_for?(:page_title) ? yield(:page_title) : 'Wahlgenial' %></title>
    <meta name="title" content="<%= content_for?(:page_title) ? yield(:page_title) : 'Wahlgenial' %>" />
    <meta name="author" content="Jan Kus &amp; Tatjana Lajendäcker">
    <meta name="description" content="Der Wahlgenial möchte dir die Wahl erleichtern! Die Entscheidung zu fällen, welche Partei man wählen soll, ist gar nicht so leicht! Wir geben Dir die Möglichkeit, dich über Parteien und ihre Programme zu informieren. Durch Deine Wahl kannst du deine Zukunft mit gestalten!" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@wahlgenial" />
    <meta name="twitter:creator" content="@wahlgenial" />
    <meta name="twitter:title" content="<%= content_for?(:page_title) ? yield(:page_title) : 'Wahlgenial' %>" />
    <meta name="twitter:description" content="Der Wahlgenial möchte dir die Wahl erleichtern! Die Entscheidung zu fällen, welche Partei man wählen soll, ist gar nicht so leicht! Wir geben Dir die Möglichkeit, dich über Parteien und ihre Programme zu informieren. Durch Deine Wahl kannst du deine Zukunft mit gestalten!" />
    <meta name="twitter:url" content="http://www.wahlgenial.de/" />
    <meta name="twitter:image" content="http://www.wahlgenial.de/banner.jpg" />
    <meta property="og:url" content="http://www.wahlgenial.de/" />
    <meta property="og:site_name" content="<%= content_for?(:page_title) ? yield(:page_title) : 'Wahlgenial' %>" />
    <meta property="og:title" content="<%= content_for?(:page_title) ? yield(:page_title) : 'Wahlgenial' %>" />
    <meta property="og:description" content="Der Wahlgenial möchte dir die Wahl erleichtern! Die Entscheidung zu fällen, welche Partei man wählen soll, ist gar nicht so leicht! Wir geben Dir die Möglichkeit, dich über Parteien und ihre Programme zu informieren. Durch Deine Wahl kannst du deine Zukunft mit gestalten!" />
    <meta property="og:image" content="http://www.wahlgenial.de/banner.jpg" />
    <meta property="og:locale" content="de" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="1796262170386120" />
  </head>
  <body>
    <%= render 'shared/header' %>
    <%= yield %>
  </body>
</html>
