<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_pack_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <title>wahldatenhelfer.de</title>
  </head>
  <body>
    <%= render 'shared/header' %>
     <div id="fullpage">
    	<div class="section active bg-primary">
        <a class='btn btn-primary'href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>
      </div>
    	<div class="section bg-warning">
    	  <div id="election_programs" class="container"> </div>
    	</div>
    	<div class="section bg-info">Some section</div>
    	<div class="section bg-danger">
        <div id="wahldatenhelfer_component" class="container"> </div>
      </div>
    <%=render 'shared/footer' %>
    <%= javascript_pack_tag 'election_programs' %>
    <%= javascript_pack_tag 'wahldatenhelfer_component' %>
  </div>
  </body>
</html>
